<mat-toolbar>
  <ul>
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Acasa</a></li>
    <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
    <li><a routerLink="patient" routerLinkActive="active">Pacient</a></li>
  </ul>

  <div class="right-menu">
    <a routerLink="login" routerLinkActive="active"><mat-icon id="login-icon">account_circle </mat-icon></a>

    <div class="user-profile">
      <!-- <span class="username">{{ username }}</span> -->
      <span class="username">Ana Mere</span>
      <a routerLink="login" routerLinkActive="active"><mat-icon id="login-icon">account_circle </mat-icon></a>
    </div>
  </div>
</mat-toolbar>
