<div class="container">
  <mat-icon class="container__check-circle">check_circle</mat-icon>
  <div class="container__content">
    <h2>Programarea dvs. a fost rezervată cu succes</h2>
    <p>Vă rugăm să vă verificați e-mailul pentru confirmare</p>
    <div class="container__content__actions">
      <button mat-raised-button color="primary" (click)="resetStepper()">Realizați altă programare</button>
      <button mat-raised-button color="warn" (click)="generateAndDownloadPDF()">Printați detaliile</button>
    </div>
  </div>
</div>
