<main class="container" [formGroup]="extraDetailsForm">
  <div class="container__text-input">
    <h3>Informatii suplimentare</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Comentarii suplimentare programarii</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
  </div>
  <div class="container__file-input">
    <h3>Adaugati fisiere</h3>
    <label for="file-upload" class="custom-file-upload">Alege Document</label>
    <input id="file-upload" class="example-full-width" type="file" accept=".pdf" (change)="uploadFile($event)" />
    <a [href]="fileUrl">{{ fileName }}</a>
  </div>
  <button type="button" (click)="onSubmit()">Salveaza</button>
</main>
