a, button {
    margin-left: 1rem;
}

.addBtn {
    margin: 2rem 0;
}

h3 {
    margin-left: 1rem;
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .example-element-description {
    padding: 16px;
  }
  

  