.details-card {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55vh;
  
    &__text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      & p {
        margin: 0;
        padding: 0;
      }
      & h4 {
        margin: 0;
        padding: 0;
      }
    }
  
    &__img {
      & img {
        padding-top: 5px;
        height: 280px;
        width: 280px;
        object-fit: cover;
      }
    }
    #closeDialog {
      margin-left:15px;
    }
  }
  