<div class="main-container">
  <div class="addBtnContainer">
    <button mat-fab id="addBtn" routerLink="create">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Cauta clinici" #input />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th id="thColumn" mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="expandedElement = expandedElement === element ? null : element; $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="example-element-detail" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <img *ngIf="element.imageUrl" [src]="element.imageUrl" alt="Uploaded Image" width="100%" height="100%" />
          </div>
          <div class="example-element-description">
            {{ element.description }}
          </div>

          <div>
            <button mat-stroked-button color="primary" [routerLink]="element.id + '/edit'">Edit</button>
            <button
              mat-stroked-button
              color="warn"
              id="deleteBtn"
              (click)="confirmDeleteDialog(element.id, element.name)">
              Delete
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>

    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    <tr *matNoDataRow>
      <td class="no-data" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[10, 15, 25, 100]" aria-label="Select page of clinics"></mat-paginator>
</div>
