<main class="container">
  <div class="container__date">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected" (click)="test($event)"></mat-calendar>
    </mat-card>
    <p>Selected date: {{ selected }}</p>
  </div>
  <div class="container__time">
    <h3>Ore disponibile</h3>
    <div *ngIf="selected" class="container__time__buttons">
      <button class="container__time__buttons__btn" *ngFor="let time of timeSlots" mat-stroked-button>
        {{ time }}
      </button>
    </div>
  </div>
</main>
