<div class="form-container">
  <form class="example-form" [formGroup]="signUpForm">
    <mat-form-field class="example-full-width">
      <mat-label>Nume</mat-label>
      <input matInput placeholder="Nume" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Prenume</mat-label>
      <input matInput placeholder="Prenume" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-radio-group>
      <mat-radio-button value="masculin">Masculin</mat-radio-button>
      <mat-radio-button value="feminin">Feminin</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="example-full-width">
      <mat-label>Telefon</mat-label>
      <input type="tel" matInput placeholder="0712 345 678" />
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="nume@mail.com" required />
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Parola</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary">Sign-up</button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
