<section class="container">
  <header class="header">
    <h2>Clinici Disponibile</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="searchedInput" placeholder="Caută..." />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </header>
  <main>
    <div class="clinic-card-container">
      <mat-card
        class="clinic-card-container__cards"
        *ngFor="let clinic of clinics | filterBy: searchedInput"
        (click)="pickClinic(clinic)"
        [ngClass]="{ active: isActive(clinic) }">
        <mat-card-header>
          <mat-card-title>{{ clinic.name }}</mat-card-title>
          <mat-card-subtitle>{{ clinic.email }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ clinic.imageUrl }}" alt="Photo of a clinic" />
        <mat-card-content class="clinic-card-container__cards__description">
          <p><span id="description-title">Adresa: </span>{{ clinic.address }}</p>
          <p>
            {{ clinic.description }}
          </p>
          <p><span id="description-title">Telefon: </span>{{ clinic.phone }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</section>
