<mat-stepper labelPosition="bottom" linear #stepper>
  <mat-step [completed]="!specialtyMatDisabled">
    <ng-template matStepLabel>Alege Specializarea</ng-template>
    <div>
      <button
        mat-raised-button
        color="primary"
        matStepperNext
        (click)="initializeClinicComponent()"
        [disabled]="specialtyMatDisabled">
        Inainte
      </button>
    </div>
    <app-choose-specialty (hasSelection)="specialtyPicked($event)" />
  </mat-step>

  <mat-step [completed]="!clinicMatDisabled">
    <ng-template matStepLabel>Alege Clinica</ng-template>
    <div>
      <button mat-raised-button matStepperPrevious>Inapoi</button>
      <button
        mat-raised-button
        color="primary"
        matStepperNext
        (click)="initializeServiceComponent()"
        [disabled]="clinicMatDisabled">
        Inainte
      </button>
    </div>
    <app-choose-clinic (hasSelection)="clinicPicked($event)" />
  </mat-step>

  <mat-step [completed]="!serviceMatDisabled">
    <ng-template matStepLabel>Alege Serviciu</ng-template>
    <div>
      <button mat-raised-button matStepperPrevious>Inapoi</button>
      <button
        mat-raised-button
        color="primary"
        matStepperNext
        (click)="initializeDoctorComponent()"
        [disabled]="serviceMatDisabled">
        Inainte
      </button>
    </div>
    <app-choose-service (hasSelection)="servicePicked($event)" />
  </mat-step>

  <mat-step [completed]="!doctorMatDisabled">
    <ng-template matStepLabel>Alege Doctor</ng-template>
    <div>
      <button mat-raised-button matStepperPrevious>Inapoi</button>
      <button
        mat-raised-button
        color="primary"
        matStepperNext
        (click)="initializeDateComponent()"
        [disabled]="doctorMatDisabled">
        Inainte
      </button>
    </div>
    <app-choose-doctor (hasSelection)="doctorPicked($event)" />
  </mat-step>

  <mat-step [completed]="!dateMatDisabled">
    <ng-template matStepLabel>Alege ora programarii</ng-template>
    <div>
      <button mat-raised-button matStepperPrevious>Inapoi</button>
      <button
        mat-raised-button
        color="primary"
        matStepperNext
        (click)="initializeCompleteDetailsComponent()"
        [disabled]="dateMatDisabled">
        Inainte
      </button>
    </div>
    <app-choose-date (hasSelection)="datePicked($event)" />
  </mat-step>

  <mat-step [completed]="!patientMatDisabled">
    <ng-template matStepLabel>Detalii Personale</ng-template>
    <div>
      <button mat-raised-button matStepperPrevious>Inapoi</button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="initializeExtraComponent(); submitDetailsForm()"
        matStepperNext
        [disabled]="patientMatDisabled">
        Inainte
      </button>
    </div>
    <app-complete-details (hasSelection)="patientDetailsPicked($event)" />
  </mat-step>

  <mat-step [completed]="!extraMatDisabled">
    <ng-template matStepLabel>Informatii suplimentare</ng-template>
    <div>
      <button mat-raised-button matStepperPrevious>Inapoi</button>
      <button
        mat-raised-button
        color="primary"
        (click)="initializeConfirmationComponent()"
        matStepperNext
        [disabled]="extraMatDisabled">
        Inainte
      </button>
    </div>
    <app-choose-extra (hasSelection)="extraPicked($event)" />
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Detaliile programarii</ng-template>
    <div>
      <button mat-raised-button matStepperPrevious>Inapoi</button>
      <button mat-raised-button color="primary" (click)="postAppointment(); stepper.next()">Confirma</button>
      <button mat-raised-button color="warn" (click)="stepper.reset(); resetStates()">Reseteaza</button>
    </div>
    <app-confirmation-details></app-confirmation-details>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Success</ng-template>
    <app-successful-appointment />
  </mat-step>
</mat-stepper>
