<router-outlet></router-outlet>

<hr />
<header style="display: flex; align-items: center; column-gap: 1em">
  <h1>Welcome to {{ title }}!</h1>
  <span role="presentation">☜(ﾟヮﾟ☜)</span>
  <p>test</p>
</header>

<form #f="ngForm" (ngSubmit)="addData(f)">
  <input type="text" name="name" id="" ngModel />
  <br />
  <input type="email" name="email" id="" ngModel />
  <br />
  <input type="password" name="password" id="" ngModel />
  <br />
  <button type="submit">Save Data</button>
</form>

<ul>
  <li *ngFor="let data of userData | async">
    {{ data.name }} / {{ data.email }}
    <button (click)="updateData(data.id)">Edit</button>
    <button (click)="deleteData(data.id)">Delete</button>
  </li>
</ul>

<hr />

<button type="button" (click)="logWithGoogle()">Login with Google</button>
<hr />
<form>
  <p>Login with email:</p>
  <input type="email" name="email" id="email" placeholder="Email adress" #email required />
  <input type="password" name="password" id="password" placeholder="Password" #password required />
  <button type="button" (click)="signUp(email.value, password.value)">Sign Up</button>
  <button type="button" (click)="signIn(email.value, password.value)">Sign in</button>
</form>
<hr />
<button type="button" (click)="signOut()">Sign Out</button>
