<div class="form-container">
  <form class="example-form" [formGroup]="loginForn">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="nume@mail.com" required formControlName="email" />
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Parola</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
      <button mat-raised-button>Signup</button>
      <button mat-raised-button color="warn" (click)="onLoginWithGoogle()">Google Login</button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
